/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f9ff; /* Bleu clair pour le fond de la page */
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-panel, .right-panel {
    padding: 20px;
}

.left-panel {
    background-color: #007bff; /* Bleu Zone 01 */
    color: #fff;
}

.profile-photo {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
}

.info, .languages, .skills, .interests {
    margin-bottom: 20px;
}

.info h2, .languages h2, .skills h2, .interests h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.info p, .languages p, .skills ul, .interests p {
    font-size: 0.9em;
}

.skills ul, .interests ul {
    list-style-type: none;
    padding-left: 0;
}

.skills ul li, .interests ul li {
    margin-bottom: 5px;
}

.right-panel {
    padding: 20px;
}

.intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #007bff; /* Bleu Zone 01 */
}

.intro p {
    font-size: 1.2em;
    color: #666;
}

.formations h2, .experiences h2 {
    border-bottom: 2px solid #007bff; /* Bleu Zone 01 */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.formations ul, .experiences ul {
    list-style-type: none;
    padding-left: 0;
}

.formations li, .experiences li {
    margin-bottom: 20px;
}

.formations strong, .experiences strong {
    font-size: 1.1em;
    color: #333;
}

.school-info {
    font-size: 0.9em;
    color: #666;
}

.formations ul ul, .experiences ul ul {
    margin-top: 10px;
    padding-left: 20px;
}

.formations ul ul li, .experiences ul ul li {
    margin-bottom: 5px;
}

/* Media Queries pour les appareils de taille moyenne et petite */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left-panel {
        width: 30%;
    }

    .right-panel {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .left-panel {
        width: 100%;
    }

    .right-panel {
        width: 100%;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
    }

    .intro h1 {
        font-size: 1.5em;
    }

    .intro p {
        font-size: 1em;
    }

    .formations h2, .experiences h2 {
        font-size: 1.2em;
    }

    .formations strong, .experiences strong {
        font-size: 1em;
    }
}
